.banner {
  background-color: var(--colors-base-background);
}

.banner-decoration {
  padding: var(--size-8) 0;
  border-top: var(--size-px-2) dotted;
  border-bottom: var(--size-px-2) dotted;
  border-color: var(--colors-base-grey-200);
}
