.quote {
  background: var(--colors-base-background);
  padding: var(--size-32) 0 var(--size-24);
}

.quote-block {
  display: flex;
  flex-grow: 1;
  text-align: left;
  margin-bottom: var(--space-6);
  margin-right: unset;
}

@media (--xs) {
  .quote-block {
    justify-content: center;
    text-align: center;
  }
}
