.quote {
  background: var(--colors-base-grey-25--next);
}

.quote-block {
  display: flex;
  justify-content: center;
  min-height: 30rem;
  padding: 4rem;
  background: var(--colors-base-white--next);
  box-sizing: border-box;
  text-align: left;
}

@media (--sm-viewport) {
  .quote-block {
    padding: 2rem;
  }
}

.quote-img {
  max-width: 50%;
}
