.hero-features {
  background: var(--colors-base-background);
  padding: var(--space-medium) 0;
}

@media (--xs) {
  .title {
    text-align: center;
  }
}

.features-content {
  display: flex;
  flex-grow: 1;

  &:nth-child(even) {
    margin-right: unset;
  }
}
