.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  box-shadow: var(--elevation-large);
  border-radius: var(--radius-small);
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
