.molecule-separator {
  border-top: 1px solid var(--colors-base-grey-200);
}

.molecule-separator-vertical {
  transform: rotate(0deg);
  height: 100%;
  margin: 0 auto;
}

.molecule-separator-horizontal {
  width: 100%;
  margin: 0 auto;
}
