.molecule-notification {
  background-color: var(--colors-themed-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;

  &.molecule-notification-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (--sm), (--xs) {
  .molecule-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }
}
