.feature-content {
  background: var(--colors-base-background);
  padding: var(--space-medium) 0;
}

.features-content {
  display: flex;
  flex-grow: 1;

  &:nth-child(even) {
    margin-right: unset;
  }
}

.border {
  border-bottom: var(--size-px-2) solid var(--colors-themed-primary);
  margin-bottom: var(--size-4);
}
