.blog-list {
  background: var(--colors-base-background);
  padding: var(--space-large) 0;
}

.blog-item {
  z-index: var(--z-index-5);
  background: var(--colors-base-background);
  border-radius: var(--radius-small);
  align-items: start;
  border: 1px solid;
  border-color: var(--colors-base-grey-400);
  margin-bottom: 2rem;
  padding: var(--size-8);
  box-sizing: border-box;
  transition: box-shadow ease 200ms;

  &:hover {
    box-shadow: var(--elevation-large);
  }
}

.item-flex {
  &:nth-child(3n) {
    margin-right: unset;
  }
}

.min-height {
  min-height: var(--size-32);
}

@media (--sm) {
  .min-height {
    min-height: var(--size-48);
  }

  .item-flex {
    &:nth-child(3n) {
      margin-right: auto;
    }

    &:nth-child(2n) {
      margin-right: unset;
    }
  }
}

@media (--xs) {
  .min-height {
    min-height: var(--size-32);
  }
}
