.btn-base {
  color: var(--colors-button-text);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-text-container {
  display: inline-flex;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
}

.style-filled {
  padding: var(--space-1) var(--space-3);
  background: var(--colors-button-primary);
  border: var(--size-px) solid transparent;

  & i {
    color: inherit;
  }

  &:hover {
    background: var(--colors-button-hover);
  }

  &:focus {
    border: var(--size-px) solid var(--colors-button-border);
  }

  &:active {
    background: var(--colors-button-active);
    border: var(--size-px) solid var(--colors-button-border);
  }
}

.style-outlined {
  padding: var(--space-1) var(--space-3);
  background: transparent;
  color: var(--colors-link-primary);
  border: var(--size-px) solid var(--colors-themed-primary);
  box-sizing: border-box;

  & i {
    color: inherit;
  }

  &:hover {
    color: var(--colors-link-hover);
    border: var(--size-px) solid var(--colors-themed-dark);
  }

  &:focus {
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:active {
    color: var(--colors-link-active);
  }
}

.style-link-inline {
  font-weight: var(--font-weight-semibold);
  color: var(--colors-link-primary);

  &:hover {
    color: var(--colors-link-hover);
  }

  &:active {
    color: var(--colors-link-active);
  }
}

.style-text {
  padding: var(--space-1) var(--space-3);
  background: transparent;
  color: var(--colors-themed-primary);
  border: var(--size-px) solid transparent;

  & i {
    color: inherit;
  }

  &:hover {
    color: var(--colors-themed-dark);
  }

  &:focus {
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:active {
    color: var(--colors-base-dark);
  }
}

.style-link {
  background: transparent;
  color: var(--colors-link-primary);

  & img,
  & i {
    color: inherit;
    transition: transform ease 200ms;
    transform: translateX(0);
  }

  &:hover {
    color: var(--colors-link-hover);

    & img,
    & i {
      transform: translateX(var(--size-1));
    }
  }

  &:focus {
    color: var(--colors-themed-light);
  }

  &:active {
    color: var(--colors-link-active);
  }
}

.style-footer {
  background: transparent;
  color: var(--colors-base-grey-600);
  padding: var(--size-1) 0;

  & img,
  & i {
    color: inherit;
    transition: transform ease 200ms;
    transform: translateX(0);
  }

  &:hover {
    color: var(--colors-link-primary);

    & img,
    & i {
      transform: translateX(var(--size-1));
    }
  }

  &:focus {
    color: var(--colors-base-grey-400);
  }

  &:active {
    color: var(--colors-link-active);
  }
}

.style-navigation {
  background: transparent;
  color: var(--colors-text-secondary);
  padding: var(--size-2) 0;

  &:hover {
    color: var(--colors-link-primary);
  }

  &:focus {
    color: var(--colors-base-grey-400);
  }

  &:active {
    color: var(--colors-link-active);
  }
}

.style-icon {
  color: var(--colors-link-primary);

  & i {
    color: inherit;
  }

  &:hover,
  &:focus {
    color: var(--colors-link-active);
  }

  &:active {
    color: var(--colors-link-hover);
  }
}
