.btn-base {
  color: var(--colors-base-white--next);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-text-container {
  display: inline-flex;
  align-self: center;
  flex-wrap: wrap;
}

.style-filled-light {
  padding: 12px 16px;
  border-radius: 100px;
  background: var(--colors-themed-primary--next);
  border: 4px solid transparent;

  &:hover {
    background: var(--colors-themed-dark--next);
  }

  &:focus {
    background: var(--colors-themed-primary--next);
    border: 4px solid var(--colors-themed-light--next);
  }

  &:active {
    background: var(--colors-base-grey--next);
    border: 4px solid var(--colors-themed-light--next);
  }

  &:disabled {
    background: var(--colors-themed-primary--next);
    opacity: 0.5;
  }
}

.style-filled-dark {
  padding: 12px 16px;
  border-radius: 100px;
  color: var(--colors-themed-primary--next);
  background: var(--colors-base-white--next);
  border: 4px solid transparent;

  &:hover {
    background: var(--colors-themed-dark--next);
  }

  &:focus {
    background: var(--colors-themed-primary--next);
    border: 4px solid var(--colors-themed-light--next);
  }

  &:active {
    background: var(--colors-base-grey--next);
    border: 4px solid var(--colors-themed-light--next);
  }

  &:disabled {
    background: var(--colors-themed-primary--next);
    opacity: 0.5;
  }
}

.style-outlined-light {
  padding: 12px 16px;
  border-radius: 100px;
  background: transparent;
  color: var(--colors-themed-primary--next);
  border: 1px solid var(--colors-themed-primary--next);
  box-sizing: border-box;

  &:hover {
    color: var(--colors-themed-dark--next);
    border: 1px solid var(--colors-themed-dark--next);
  }

  &:focus {
    border: 4px solid var(--colors-themed-light--next);
    margin: -3px;
  }

  &:active {
    color: var(--colors-base-grey--next);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-outlined-dark {
  padding: 12px 16px;
  border-radius: 100px;
  background: transparent;
  color: var(--colors-themed-primary--next);
  border: 1px solid var(--colors-themed-primary--next);
  box-sizing: border-box;

  &:hover {
    color: var(--colors-themed-dark--next);
    border: 1px solid var(--colors-themed-dark--next);
  }

  &:focus {
    border: 4px solid var(--colors-themed-light--next);
    margin: -3px;
  }

  &:active {
    color: var(--colors-base-grey--next);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-outlined-grey {
  padding: 12px 16px;
  border-radius: 100px;
  background: transparent;
  color: var(--colors-base-grey--next);
  border: 1px solid var(--colors-base-grey--next);
  box-sizing: border-box;

  &:hover {
    color: var(--colors-themed-dark--next);
    border: 1px solid var(--colors-themed-dark--next);
  }

  &:focus {
    border: 4px solid var(--colors-themed-light--next);
    margin: -3px;
  }

  &:active {
    color: var(--colors-base-grey--next);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-link-inline-light {
  color: var(--colors-themed-primary--next);

  &:hover {
    color: var(--colors-themed-dark--next);
  }

  &:active {
    color: var(--colors-base-grey--next);
  }
}

.style-text-light {
  padding: 12px 16px;
  border-radius: 100px;
  background: transparent;
  color: var(--colors-themed-primary--next);
  border: 4px solid transparent;

  &:hover {
    color: var(--colors-themed-dark--next);
  }

  &:focus {
    border: 4px solid var(--colors-themed-light--next);
  }

  &:active {
    color: var(--colors-base-grey--next);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-text-dark {
  padding: 12px 16px;
  /*border-radius: 100px;*/
  background: transparent;
  color: var(--colors-themed-primary--next);
  border: 4px solid transparent;

  &:hover {
    color: var(--colors-themed-dark--next);
  }

  &:focus {
    border: 4px solid var(--colors-themed-light--next);
  }

  &:active {
    color: var(--colors-base-grey--next);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-link-light {
  background: transparent;
  color: var(--colors-themed-primary--next);

  & img {
    transition: transform ease 200ms;
    transform: translateX(0);
  }

  &:hover {
    color: var(--colors-themed-dark--next);

    & img {
      transform: translateX(4px);
    }
  }

  &:focus {
    color: var(--colors-themed-light--next);
  }

  &:active {
    color: var(--colors-base-grey--next);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-link-dark {
  background: transparent;
  color: var(--colors-base-white--next);

  & img {
    transition: transform ease 200ms;
    transform: translateX(0);
  }

  &:hover {
    color: var(--colors-themed-darkmode--next);

    & img {
      transform: translateX(4px);
    }
  }

  &:focus {
    color: var(--colors-themed-darkmode--next);
  }

  &:active {
    color: var(--colors-themed-darkmode--next);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.icon-right {
  margin-left: 8px;
}
