.btn-base {
  color: var(--colors-base-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-text-container {
  display: inline-flex;
  align-self: center;
  flex-wrap: wrap;
}

.style-filled-light {
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-smaller);
  background: var(--colors-themed-primary);
  border: var(--size-px) solid transparent;

  &:hover {
    background: var(--colors-themed-dark);
  }

  &:focus {
    background: var(--colors-themed-primary);
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:active {
    background: var(--colors-base-dark);
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:disabled {
    background: var(--colors-themed-primary);
    opacity: 0.5;
  }
}

.style-filled-dark {
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-smaller);
  color: var(--colors-themed-primary);
  background: var(--colors-base-white);
  border: var(--size-px) solid transparent;

  &:hover {
    background: var(--colors-themed-dark);
  }

  &:focus {
    background: var(--colors-themed-primary);
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:active {
    background: var(--colors-base-dark);
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:disabled {
    background: var(--colors-themed-primary);
    opacity: 0.5;
  }
}

.style-outlined-light {
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-smaller);
  background: transparent;
  color: var(--colors-themed-primary);
  border: var(--size-px) solid var(--colors-themed-primary);
  box-sizing: border-box;

  &:hover {
    color: var(--colors-themed-dark);
    border: var(--size-px) solid var(--colors-themed-dark);
  }

  &:focus {
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:active {
    color: var(--colors-base-dark);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-outlined-dark {
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-smaller);
  background: transparent;
  color: var(--colors-base-dark);
  border: var(--size-px) solid var(--colors-base-dark);
  box-sizing: border-box;

  &:hover {
    color: var(--colors-themed-primary);
    border: var(--size-px) solid var(--colors-themed-primary);
  }

  &:focus {
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:active {
    color: var(--colors-themed-dark);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-outlined-grey {
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-smaller);
  background: transparent;
  color: var(--colors-base-dark);
  border: var(--size-px) solid var(--colors-base-dark);
  box-sizing: border-box;

  &:hover {
    color: var(--colors-themed-primary);
    border: var(--size-px) solid var(--colors-themed-primary);
  }

  &:focus {
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:active {
    color: var(--colors-themed-dark);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-link-inline-light {
  color: var(--colors-themed-primary);

  &:hover {
    color: var(--colors-themed-dark);
  }

  &:active {
    color: var(--colors-base-dark);
  }
}

.style-link-inline-dark {
  color: var(--colors-themed-darkmode);

  &:hover {
    color: var(--colors-themed-primary);
  }

  &:active {
    color: var(--colors-base-white);
  }
}

.style-text-light {
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-smaller);
  background: transparent;
  color: var(--colors-themed-primary);
  border: var(--size-px) solid transparent;

  &:hover {
    color: var(--colors-themed-dark);
  }

  &:focus {
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:active {
    color: var(--colors-base-dark);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-text-dark {
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-smaller);
  background: transparent;
  color: var(--colors-themed-primary);
  border: var(--size-px) solid transparent;

  &:hover {
    color: var(--colors-themed-dark);
  }

  &:focus {
    border: var(--size-px) solid var(--colors-themed-light);
  }

  &:active {
    color: var(--colors-base-dark);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-link-light {
  background: transparent;
  color: var(--colors-themed-primary);

  & img,
  & i {
    transition: transform ease 200ms;
    transform: translateX(0);
  }

  &:hover {
    color: var(--colors-themed-dark);

    & img,
    & i {
      transform: translateX(var(--size-1));
    }
  }

  &:focus {
    color: var(--colors-themed-light);
  }

  &:active {
    color: var(--colors-base-dark);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.style-link-dark {
  background: transparent;
  color: var(--colors-base-white);

  & img,
  & i {
    transition: transform ease 200ms;
    transform: translateX(0);
  }

  &:hover {
    color: var(--colors-themed-darkmode);

    & img,
    & i {
      transform: translateX(var(--size-1));
    }
  }

  &:focus {
    color: var(--colors-themed-darkmode);
  }

  &:active {
    color: var(--colors-base-white);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
