.navigation {
  background-color: var(--colors-base-white);
  visibility: visible;
  transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in 0s;
  transform: none;
}

.navigation-mobile-open {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}

.flex {
  flex: 16;
}

.mobile-category-container {
  margin-bottom: var(--size-4);
}

.mobile-category {
  display: flex;
  align-items: center;
  flex: 1 0 50%;
  outline: none;
}

.sidenav-buttons {
  padding-right: var(--size-4);
  &:last-child {
    padding-right: 0;
  }
}

.navigation-hide {
  visibility: hidden;
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out 0s;
  transform: translate(0, -100%);
}

.nav-logo {
  flex: 2;
  display: flex;
  align-items: center;
  & img {
    width: 56px;
  }
}

.mobile-container {
  visibility: hidden;
  opacity: 0;
  display: none;
  background: var(--colors-base-white);
  flex-grow: 1;
}

.mobile-nav-active {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

@media (--xl), (--lg), (--md) {
  .mobile-nav-active {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .navigation-mobile-open {
    position: unset;
  }
}

.navigation-container {
  padding: var(--size-4) 0;
}
