.dropdown-menu {
  flex-direction: row;
  background-color: var(--colors-base-white);
  border-radius: var(--radius-smaller);
  box-shadow: var(--elevation-base);
  z-index: 999;
  min-width: var(--size-64);
  width: auto;
  visibility: visible;
  position: absolute;
  margin-top: var(--size-4);
  margin-left: calc(-1 * var(--size-4));
  transform: none;
}

.dropdown-menu-hide {
  visibility: hidden;
  transform: translate(0, 0);
}
