.dropdown-mobile-menu {
  padding: var(--size-8) 0;
  border-top: var(--size-px) solid;
  border-color: var(--colors-themed-background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
