.dropdown-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
  padding: 24px;
  background: var(--colors-base-white--next);
  box-shadow: var(--elevation-large);
}

/*.dropdown-mobile-container {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}*/

.dropdown-section {
  padding: 8px 0;
}
