:root {
  --colors-base-white: #ffffff;
  --colors-base-grey-25: #f9f9fa;
  --colors-base-grey-50: #f3f4f5;
  --colors-base-grey-75: #edeef0;
  --colors-base-grey-200: #cfd2d7;
  --colors-base-grey-400: #9ea5b0;
  --colors-base-grey-600: #6e7888;
  --colors-base-grey-800: #3d4b61;
  --colors-base-grey-900: #25354d;
  --colors-base-grey: #0d1f39;
  --colors-base-dark: #06111c;
  --colors-base-black: #000000;

  --colors-base-background: var(--colors-base-white);

  --colors-text-primary: #06111cff; /*alpha 1*/
  --colors-text-secondary: #06111cd9; /*alpha .85*/
  --colors-text-mute: #06111c99; /*alpha .60*/
  --colors-text-muter: #06111c66; /*alpha .40*/

  --colors-text-light-primary: #ffffffff; /*alpha 1*/
  --colors-text-light-secondary: #ffffffe6; /*alpha .90*/
  --colors-text-light-mute: #ffffffb3; /*alpha .70*/
  --colors-text-light-muter: #ffffff80; /*alpha .50*/

  --colors-themed-primary: #5528ff;
  --colors-themed-dark: #331899;
  --colors-themed-light: #eeeaff;
  --colors-themed-darkmode: #bba9ff;
  --colors-themed-background: #faf9ff;

  --colors-link-primary: var(--colors-themed-primary);
  --colors-link-hover: var(--colors-themed-dark);
  --colors-link-active: var(--colors-text-primary);

  --colors-button-text: var(--colors-base-white);
  --colors-button-primary: var(--colors-themed-primary);
  --colors-button-hover: var(--colors-themed-dark);
  --colors-button-active: var(--colors-text-primary);
  --colors-button-border: var(--colors-themed-light);

  --colors-input-primary: var(--colors-base-grey-50);
  --colors-input-hover: var(--colors-themed-background);
  --colors-input-text-active: var(--colors-base-dark);
  --colors-input-text-inactive: var(--colors-base-grey-600);

  --colors-oathkeeper-background: #fdf9fe;
  --colors-oathkeeper-light: #f8ecfd;
  --colors-oathkeeper-darkmode: #e3b1f8;
  --colors-oathkeeper-primary: #b93dee;
  --colors-oathkeeper-dark: #6f258f;

  --colors-dockertest-background: #f7feff;
  --colors-dockertest-light: #e6fcfe;
  --colors-dockertest-darkmode: #9bf1f9;
  --colors-dockertest-primary: #04ddf1;
  --colors-dockertest-dark: #028491;

  --colors-keto-background: #f7fefb;
  --colors-keto-light: #e6fcf2;
  --colors-keto-darkmode: #99f3c9;
  --colors-keto-primary: #00e078;
  --colors-keto-dark: #008648;

  --colors-kratos-background: #fffbf8;
  --colors-kratos-light: #fff3e9;
  --colors-kratos-darkmode: #ffcfa5;
  --colors-kratos-primary: #ff871f;
  --colors-kratos-dark: #995113;

  --colors-hydra-background: #fffbfa;
  --colors-hydra-light: #fff0ee;
  --colors-hydra-darkmode: #ffc4b9;
  --colors-hydra-primary: #ff6b51;
  --colors-hydra-dark: #994031;

  --colors-error-background: #fff7f7;
  --colors-error-light: #ffe6e6;
  --colors-error-darkmode: #ff9999;
  --colors-error-primary: #ff0000;
  --colors-error-dark: #990000;

  --colors-warning-background: #fffef9;
  --colors-warning-light: #fffdea;
  --colors-warning-darkmode: #fef6ab;
  --colors-warning-primary: #fde82c;
  --colors-warning-dark: #988b1b;

  --colors-success-background: #fafef8;
  --colors-success-light: #eefbe8;
  --colors-success-darkmode: #bcf0a2;
  --colors-success-primary: #57d916;
  --colors-success-dark: #34820d;

  --colors-info-background: #f7fdff;
  --colors-info-light: #e6f8ff;
  --colors-info-darkmode: #99e3ff;
  --colors-info-primary: #00baff;
  --colors-info-dark: #007099;

  --gradient-ory: radial-gradient(
    100% 114.57% at 0% 0%,
    #9bf1f9 0%,
    #5528ff 100%
  );
  --gradient-oathkeeper: radial-gradient(
    100% 114.57% at 0% 0%,
    #bba9ff 0%,
    #b93dee 100%
  );
  --gradient-dockertest: radial-gradient(
    100% 114.57% at 0% 0%,
    #99f3c9 0%,
    #04ddf1 100%
  );
  --gradient-keto: radial-gradient(
    100% 114.57% at 0% 0%,
    #fef6ab 0%,
    #00e078 100%
  );
  --gradient-kratos: radial-gradient(
    100% 114.57% at 0% 0%,
    #ffc4b9 0%,
    #ff871f 100%
  );
  --gradient-hydra: radial-gradient(
    100% 114.57% at 0% 0%,
    #e3b1f8 0%,
    #ff6b51 100%
  );
  --gradient-white: radial-gradient(
    100% 114.57% at 0% 0%,
    #f9f9fa 0%,
    #cfd2d7 100%
  );
  --gradient-grey: radial-gradient(
    100% 114.57% at 0% 0%,
    #6e7888 0%,
    #0d1f39 100%
  );
  --gradient-primary-light: radial-gradient(
    100% 114.57% at 0% 0%,
    #f9f9fa 0%,
    #faf9ff 100%
  );

  --elevation-base: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  --elevation-large: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.theme-hydra {
  --colors-themed-primary: var(--colors-hydra-primary);
  --colors-themed-light: var(--colors-hydra-light);
  --colors-themed-background: var(--colors-hydra-background);
  --colors-themed-dark: var(--colors-hydra-dark);
  --colors-themed-darkmode: var(--colors-hydra-darkmode);

  --colors-link-primary: var(--colors-hydra-primary);
  --colors-link-hover: var(--colors-hydra-dark);
  --colors-link-active: var(--colors-text-primary);

  --colors-button-text: var(--colors-base-white);
  --colors-button-primary: var(--colors-hydra-primary);
  --colors-button-hover: var(--colors-hydra-dark);
  --colors-button-active: var(--colors-text-primary);
  --colors-button-border: var(--colors-hydra-light);

  --colors-input-hover: var(--colors-hydra-background);
}

.theme-oathkeeper {
  --colors-themed-primary: var(--colors-oathkeeper-primary);
  --colors-themed-light: var(--colors-oathkeeper-light);
  --colors-themed-background: var(--colors-oathkeeper-background);
  --colors-themed-dark: var(--colors-oathkeeper-dark);
  --colors-themed-darkmode: var(--colors-oathkeeper-darkmode);

  --colors-link-primary: var(--colors-oathkeeper-primary);
  --colors-link-hover: var(--colors-oathkeeper-dark);
  --colors-link-active: var(--colors-text-primary);

  --colors-button-text: var(--colors-base-white);
  --colors-button-primary: var(--colors-oathkeeper-primary);
  --colors-button-hover: var(--colors-oathkeeper-dark);
  --colors-button-active: var(--colors-text-primary);
  --colors-button-border: var(--colors-oathkeeper-light);

  --colors-input-hover: var(--colors-oathkeeper-background);
}

.theme-kratos {
  --colors-themed-primary: var(--colors-kratos-primary);
  --colors-themed-light: var(--colors-kratos-light);
  --colors-themed-background: var(--colors-kratos-background);
  --colors-themed-dark: var(--colors-kratos-dark);
  --colors-themed-darkmode: var(--colors-kratos-darkmode);

  --colors-link-primary: var(--colors-kratos-primary);
  --colors-link-hover: var(--colors-kratos-dark);
  --colors-link-active: var(--colors-text-primary);

  --colors-button-text: var(--colors-base-white);
  --colors-button-primary: var(--colors-kratos-primary);
  --colors-button-hover: var(--colors-kratos-dark);
  --colors-button-active: var(--colors-text-primary);
  --colors-button-border: var(--colors-kratos-light);

  --colors-input-hover: var(--colors-kratos-background);
}

.theme-keto {
  --colors-themed-primary: var(--colors-keto-primary);
  --colors-themed-light: var(--colors-keto-light);
  --colors-themed-background: var(--colors-keto-background);
  --colors-themed-dark: var(--colors-keto-dark);
  --colors-themed-darkmode: var(--colors-keto-darkmode);

  --colors-link-primary: var(--colors-keto-primary);
  --colors-link-hover: var(--colors-keto-dark);
  --colors-link-active: var(--colors-text-primary);

  --colors-button-text: var(--colors-base-white);
  --colors-button-primary: var(--colors-keto-primary);
  --colors-button-hover: var(--colors-keto-dark);
  --colors-button-active: var(--colors-text-primary);
  --colors-button-border: var(--colors-keto-light);

  --colors-input-hover: var(--colors-keto-background);
}

.background-is-dark,
.background-is-themed {
  --colors-text-primary: var(--colors-text-light-primary);
  --colors-text-secondary: var(--colors-text-light-secondary);
  --colors-text-mute: var(--colors-text-light-mute);
  --colors-text-muter: var(--colors-text-light-muter);
}

.background-is-dark {
  --colors-base-background: var(--colors-base-dark);

  --colors-link-primary: var(--colors-themed-light);
  --colors-link-hover: var(--colors-themed-primary);
  --colors-link-active: var(--colors-text-primary);

  --colors-input-primary: var(--colors-base-grey-25);
  --colors-input-hover: var(--colors-themed-light);
}

.background-is-themed {
  --colors-base-background: var(--colors-themed-primary);

  --colors-link-primary: var(--colors-themed-light);
  --colors-link-hover: var(--colors-themed-background);
  --colors-link-active: var(--colors-text-primary);

  --colors-button-text: var(--colors-themed-primary);
  --colors-button-primary: var(--colors-base-white);
  --colors-button-hover: var(--colors-themed-light);
  --colors-button-active: var(--colors-themed-light);
  --colors-button-border: var(--colors-themed-primary);

  --colors-input-primary: var(--colors-base-grey-25);
  --colors-input-hover: var(--colors-themed-light);
}
