:root {
  --alpha-20: rgba(0, 0, 0, 0.05);

  --colors-base-black: #000000;
  --colors-base-dark: #19191d;
  --colors-base-grey: #5a5b6a;
  --colors-base-text: #99999e;
  --colors-base-light: #fafafa;
  --colors-base-white: #ffffff;

  --colors-themed-default: #5528ff;
  --colors-themed-weak: #8e70ff;
  --colors-themed-light: #fafaff;

  --colors-green-default: #4caf50;
  --colors-green-weak: #7bc67e;
  --colors-green-light: #edf6ee;

  --colors-yellow-default: #ffb41f;
  --colors-yellow-weak: #ffdfa0;
  --colors-yellow-light: #fff8ea;

  --colors-red-default: #f44336;
  --colors-red-weak: #f88078;
  --colors-red-light: #feedec;

  --colors-kratos-default: #ff9800;
  --colors-kratos-weak: #ffb547;
  --colors-kratos-light: #fff9f2;

  --colors-hydra-default: #ff6a85;
  --colors-hydra-weak: #ffb3c0;
  --colors-hydra-light: #fffafb;

  --colors-oathkeeper-default: #bd2fef;
  --colors-oathkeeper-weak: #e3a5f8;
  --colors-oathkeeper-light: #f7faff;

  --colors-keto-default: #1de9b6;
  --colors-keto-weak: #5cefca;
  --colors-keto-light: #f5fffb;
}

.theme-hydra {
  --colors-themed-default: var(--colors-hydra-default);
  --colors-themed-weak: var(--colors-hydra-weak);
  --colors-themed-light: var(--colors-hydra-light);
}

.theme-oathkeeper {
  --colors-themed-default: var(--colors-oathkeeper-default);
  --colors-themed-weak: var(--colors-oathkeeper-weak);
  --colors-themed-light: var(--colors-oathkeeper-light);
}

.theme-kratos {
  --colors-themed-default: var(--colors-kratos-default);
  --colors-themed-weak: var(--colors-kratos-weak);
  --colors-themed-light: var(--colors-kratos-light);
}

.theme-keto {
  --colors-themed-default: var(--colors-keto-default);
  --colors-themed-weak: var(--colors-keto-weak);
  --colors-themed-light: var(--colors-keto-light);
}
