body {
  margin: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
blockquote,
input {
  margin: 0;
}

img {
  border-style: none;
  image-rendering: optimizequality;
}

img.responsive {
  width: 100%;
}

img.crisp {
  image-rendering: -webkit-crisp-edges;
}

video {
  max-width: 100%;
}

.embedVideo-container iframe {
  max-width: 100%;
}

.youtube {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 2rem auto;
  &.youtube::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
  &.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.elevation-base {
  box-shadow: var(--elevation-base);
}

.elevation-medium {
  box-shadow: var(--elevation-medium);
}

.elevation-large {
  box-shadow: var(--elevation-large);
}

.elevation-xl {
  box-shadow: var(--elevation-xl);
}

.elevation-xxl {
  box-shadow: var(--elevation-xxl);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: 'Inconsolata', monospace;
  font-size: 1em; /* 2 */
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; /* 2 */
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

input[type='submit'],
input[type='text'],
input[type='email'],
input[type='button'],
button,
textarea {
  transition: color ease 200ms, background-color ease 200ms,
    border-color ease 200ms;
  margin: 0 0 var(--size-4) 0;

  border: 0;
  border-radius: var(--radius-smaller);
  padding: var(--space-1) var(--space-3);

  vertical-align: middle;
  white-space: normal;
  background: var(--colors-input-primary);

  font-size: var(--font-size-body-button);
  font-weight: var(--font-weight-body);
  letter-spacing: var(--font-spacing-body);
  line-height: var(--font-lineheight-button);
  font-style: normal;
}

input[type='hidden'] {
  display: none;
  visibility: hidden;
  width: 100%;
  height: 0;
}

input[type='text'],
input[type='email'] {
  color: var(--colors-input-text-active);

  &:hover,
  &:active,
  &:focus {
    background: var(--colors-input-hover);
  }

  &::placeholder {
    color: var(--colors-input-text-inactive);
  }
}

input[type='submit'] {
  color: var(--colors-button-text);
  background: var(--colors-button-primary);

  &:hover {
    background: var(--colors-button-hover);
  }

  &:active {
    background: var(--colors-button-active);
  }
}

input:focus {
  outline: 0;
}

input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

button,
input[type='reset'],
input[type='button'],
input[type='submit'],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type='email'],
input[type='number'],
input[type='text'] {
}

button,
input[type='reset'],
input[type='button'],
input[type='submit'] {
  overflow: visible;
}
