html {
  font-size: 16px;
  background-color: var(--colors-base-dark);
}

img.responsive {
  width: 100%;
}

video {
  max-width: 100%;
}

.embedVideo-container iframe {
  max-width: 100%;
}

.youtube {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 2rem auto;
  &.youtube::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
  &.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.elevation-base {
  background: var(--colors-base-grey-25--next);
  box-shadow: var(--elevation-base);
}

.elevation-medium {
  background: var(--colors-base-grey-25--next);
  box-shadow: var(--elevation-medium);
}

.elevation-large {
  background: var(--colors-base-grey-25--next);
  box-shadow: var(--elevation-large);
}

.elevation-xl {
  background: var(--colors-base-grey-25--next);
  box-shadow: var(--elevation-xl);
}

.elevation-xxl {
  background: var(--colors-base-grey-25--next);
  box-shadow: var(--elevation-xxl);
}
