i {
  color: var(--colors-text-primary);
}

i.base-white {
  color: var(--colors-base-white);
}

i.text-primary {
  color: var(--colors-text-primary);
}

i.themed-primary {
  color: var(--colors-themed-primary);
}

i.base-grey-400 {
  color: var(--colors-base-grey-400);
}

i.success-primary {
  color: var(--colors-success-primary);
}

i.size24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

i.size16 {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

i.size32 {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

i.size48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
}
