@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Inter:wght@300;400;500;600&family=Open+Sans:wght@600&display=swap');
@import './properties.css';

html {
  text-rendering: geometricPrecision;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--colors-base-grey--next);
}

a:any-link {
  text-decoration: none;
  transition: color ease 200ms, background-color ease 200ms,
    border-color ease 200ms;
}

.style-link-inline-light a:global {
  color: var(--colors-themed-primary--next);
  text-decoration: none;
  transition: color ease 200ms, background-color ease 200ms,
    border-color ease 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--colors-base-white--next);
  }
}

.light a:global {
  color: var(--colors-themed-darkmode--next);
  text-decoration: none;
  transition: color ease 200ms, background-color ease 200ms,
    border-color ease 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--colors-themed-primary--next);
  }
}

main a.cta {
  text-align: center;
  display: inline-block;
  font-weight: 500;
  font-size: 0.833rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  margin: 1.5rem 1.5rem 0 0;
  text-decoration: none;
  transition: color ease 200ms, background-color ease 200ms,
    border-color ease 200ms;

  @media (--md-viewport) {
    margin: 1rem 1rem 0 0;
  }

  @media (--sm-viewport) {
    margin: 1rem 1rem 0 0;
  }

  &.primary,
  &.primary.visited {
    border: 2px solid;
  }

  &.secondary,
  &.secondary.visited {
    border: 0px solid;
  }
}

.remark-emoji {
  width: 1em;
  height: 1em;
  display: inline !important;
  margin-top: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
input {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: inherit;
}

.font-nowrap {
  white-space: nowrap;
}

.font-bold {
  font-weight: bold;
}

.font-hero {
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
}

.light {
  color: var(--colors-base-white--next);
}

.primary {
  color: var(--colors-themed-primary--next);
}

.mute-85 {
  opacity: 0.85;
}

.mute-60 {
  opacity: 0.6;
}

.mute-40 {
  opacity: 0.4;
}

.font-h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
}

.font-h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

.font-h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}

.font-h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.font-h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
}

.font-h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.font-quote {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.font-overline {
  font-weight: 600;
  font-size: 10px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.font-btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: var(--colors-base-white--next);
}

.font-link {
  font-weight: 500;

  &.font-link-md {
    font-size: 15px;
    line-height: 200%;
  }
}

.font-p {
  font-size: 16px;
  line-height: 200%;
}

.font-p-lg {
  font-size: 18px;
  line-height: 177%;
}

.font-p-sm {
  font-size: 14px;
  line-height: 228.5%;
}

.font-p-xs {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.5px;
}

.font-mono {
  font-size: 16px;
  line-height: 200%;
}

.font-mono-s {
  font-size: 14px;
  line-height: 228.5%;
}

.font-menu {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 228.5%;
}

.font-category {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 184.6%;
}
