.adopters-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-4) var(--size-1);

  & a img,
  & a i {
    transition: all ease 200ms;
    max-width: var(--size-32);
    max-height: var(--size-8);
    width: auto;
    filter: invert(0.5) brightness(2) opacity(0.75);
  }

  & a:any-link {
    &:hover,
    &:active,
    &:focus {
      & img,
      & i {
        filter: invert(0) brightness(1) opacity(1);
      }
    }
  }
}
