.adopters-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;

  & a img,
  & a i {
    transition: all ease 200ms;
    max-height: 1.8rem;
  }

  & a:any-link {
    &:hover,
    &:active,
    &:focus {
      & img,
      & i {
        filter: invert(1);
      }
    }
  }
}
