.adopters {
  background-color: var(--colors-base-background);
  padding: 0 0 var(--size-24);
}

.adopters-separator {
  padding: var(--size-8) 0;
  border-bottom: var(--size-px) solid var(--colors-text-primary);
}

.adopters-link {
  display: flex;
}

.adopters-container {
  flex: 1 calc(100% / 5);
}

@media (--md) {
  .adopters-container {
    flex: 1 calc(100% / 4);
  }
}

@media (--sm) {
  .adopters-container {
    flex: 1 calc(100% / 3);
  }
}

@media (--xs) {
  .adopters-container {
    flex: 0 100%;
  }
}
