.tier-dark {
  background: var(--colors-base-background);
  padding: 24px 24px;
}

.tier-light {
  background: var(--colors-base-background);
  padding: 24px 24px;
  border: 1px solid var(--colors-themed-darkmode);
  box-sizing: border-box;
}

.text-wrap {
  white-space: break-spaces;
}
