.tier-dark,
.tier-light {
  border-radius: var(--radius-default);
}

.tier-dark {
  background: var(--colors-base-background);
  padding: var(--size-12);
  box-shadow: var(--elevation-large);
}

.tier-light {
  background: var(--colors-base-white);
  padding: var(--size-24) var(--size-12);
  box-shadow: var(--highlighted-large);
}

.text-wrap {
  white-space: break-spaces;
}
