.stats {
  background-color: var(--colors-base-background);
  padding: var(--size-16) 0;
}

@media (--sm) {
  .stats-row {
    margin-bottom: var(--size-8);
  }
}

@media (--xs) {
  .stats-row {
    margin-bottom: var(--size-8);
    text-align: center;
  }
  .stats-items {
    text-align: center;
    margin-bottom: 32px;
  }
}
