.post-container {
  flex: 0 100%;
}

.post-box {
  height: calc(100% - 6rem);
  padding: 2rem;
  color: inherit;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  background-color: var(--colors-themed-background--next);
  border: 1px solid;
  border-color: var(--colors-themed-background--next);
  transition: all ease 200ms;

  & span {
    align-self: start;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: var(--colors-themed-default);
  }
}
