.page-title {
  margin-bottom: 64px;
}

.post-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 -16px;

  & .post-item {
    padding: 0 16px;
    width: calc(50% - 32px);
    margin-bottom: 64px;
  }
}

@media (--sm-viewport) {
  .post-list .post-item {
    width: 100%;
  }
}

@media (--md-viewport) {
  .post-list .post-item {
    width: 100%;
  }
}

p.info {
  color: var(--colors-base-text);
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 0.833rem;

  & .author {
    color: var(--colors-themed-default);
  }
}

p.post-overline {
  color: var(--colors-base-grey);
  font-size: 0.579rem;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.04em;
  margin: 0;
  font-weight: 600;
}

h2.post-title {
  margin-top: 0;
  font-size: 1.2rem;

  & a:any-link {
    line-height: 0.5;
    transition: all ease 200ms;
    color: var(--colors-themed-default);

    &:hover,
    &:active,
    &:focus {
      color: var(--colors-base-dark);
    }
  }
}

p.post-teaser {
  margin-bottom: 16px;
}

p.post-link a:any-link {
  color: var(--colors-themed-default);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 32px;

  &:hover,
  &:active,
  &:focus {
    color: var(--colors-base-dark);
  }
}
