.footer {
  padding-top: 64px;
  padding-bottom: 0;
  background-color: var(--colors-base-background);
}

.footer-logo {
  & img {
    width: var(--size-24);
  }
}

.footer-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .footer-category {
    margin-bottom: var(--size-2);
  }
}

@media (--sm) {
  .footer-categories {
    margin-bottom: var(--size-8);
    flex: 1 0 25%;
  }
}

@media (--xs) {
  .footer-categories {
    margin-bottom: var(--size-8);
    flex: 1 0 50%;
  }
}

.footer-sub {
  padding: 16px;
  background-color: var(--colors-base-black);

  & p {
    color: var(--colors-base-grey-600);
  }
}

.footer-legal {
  margin-left: var(--size-4);
}

@media (--xs) {
  .footer-sub {
    flex-direction: column-reverse;
  }
  .footer-social-icons {
    margin-bottom: var(--size-4);
  }
}