.footer {
  padding-top: 64px;
  padding-bottom: 0;
  background-color: var(--colors-base-grey-50--next);
  color: var(--colors-base-grey-600--next);
}

.footer-sub {
  padding: 16px;
  background-color: var(--colors-base-grey--next)
}

.footer-container {
  width: 100%;
}

.footer-categories {
  margin: 0 64px 32px 0;
  &:last-child {
    margin: unset;
  }
}

.footer-img {
  width: 6rem;
}

.footer-font a {
  word-break: break-all;
  color: var(--colors-base-grey-600--next);
  transition: color ease 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--colors-themed-primary--next);
  }
}

.footer-sub .footer-font a {
  word-break: break-all;
  color: var(--colors-base-grey-200--next);
  transition: color ease 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--colors-base-white--next);
  }
}