.team {
  background-color: var(--colors-base-background);
  padding: var(--space-large) 0;

  & .team-heading {
    text-align: center;
  }

  & .team-content {
    display: flex;
    flex-grow: 1;
    margin-bottom: 2rem;
  }
}

.team-image {
  background-color: var(--colors-base-background);
  padding: var(--space-large) 0;
}

@media (--lg), (--xl) {
  .team-content {
    &:nth-child(4n) {
      margin-right: unset;
    }
  }
}

@media (--md) {
  .team-content {
    &:nth-child(4n) {
      margin-right: unset;
    }
  }
}

@media (--sm) {
  .team-content {
    &:nth-child(even) {
      margin-right: unset;
    }
  }
}

@media (--xs) {
  .team-content {
    &:nth-child(even) {
      margin-right: unset;
    }
  }
}

.profile {
  display: flex;
  flex-direction: row;
  flex: 1 100%;
  & img {
    border-radius: var(--radius-small);
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
}
