@import '../styles/properties.css';

.title {
  background: var(--colors-base-white);
  color: var(--colors-base-black);

  & :global .container-fluid {
    position: relative;
    padding: 96px 0 64px;
  }

  & h1 {
    margin-top: 0;
  }

  & h2 {
    font-size: 1.44rem;
    font-weight: 400;
  }

  & .author {
    color: var(--colors-themed-default);
  }
}

.line {
  position: relative;

  &::before {
    content: '';
    height: 100%;
    border-right: 1px solid var(--colors-themed-default);
    position: absolute;
    left: -3rem;
  }
}

.info {
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 0.833rem;
}

.subtitle {
  color: var(--colors-themed-default);
  font-size: 0.579rem;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.04em;
  margin: 0;
  font-weight: 600;
}

@media (--sm-viewport) {
  .title {
    border-bottom: 1px solid var(--colors-themed-default);
    & :global .container-fluid {
      padding: 64px 0 16px;
    }

    & h2 {
      font-size: 1.138rem;
    }
  }

  .line {
    &::before {
      display: none;
    }
  }
}

@media (--md-viewport) {
  .title {
    & :global .container-fluid {
      padding: 64px 0 32px;
    }

    & h2 {
      font-size: 1.266rem;
    }
  }
}
