.box {
  background-color: var(--colors-base-dark);
  box-shadow: var(--elevation-large);
  padding: 0 var(--size-4);
  border-radius: var(--radius-default);
  height: var(--size-128);
  align-content: start;
}

.editor-header {
  display: flex;
  width: var(--size-full);
  align-items: center;
  color: var(--colors-base-white);
  position: sticky;

  & .tabs {
    overflow: auto;
  }

  & .tab {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 200%;
    margin-right: 24px;
    cursor: pointer;
    display: inline;

    &.selected {
      color: var(--colors-themed-primary);
    }
  }
}

.window-actions {
  display: flex;
  align-items: center;
  height: var(--size-8);
  margin-right: var(--size-4);

  & .window-action {
    width: var(--size-2);
    height: var(--size-2);
    border-radius: var(--radius-default);
    background-color: var(--colors-themed-dark);
    margin-right: var(--size-1);

    &.primary {
      background-color: var(--colors-themed-primary);
    }
  }
}

.content {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 85%;
  max-width: var(--size-full);
  overflow: auto;
  width: var(--size-full);

  & pre {
    width: 100%;
    display: none;

    &.active {
      display: block;
    }
  }

  &,
  & pre,
  & code,
  & pre[class*='language'] > code[class*='language'],
  & pre > code {
    text-shadow: none;
    background-color: inherit;
    color: var(--colors-base-white);
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  & pre code :global .token.operator {
    color: var(--colors-base-white);
    background-color: inherit;
  }
}
