@import '../styles/properties.css';

.large-feature {
  background-color: var(--colors-base-white);
  padding: 6rem;

  & h3 {
    color: var(--colors-base-black);
  }
  & p {
    color: var(--colors-base-black);
    margin-bottom: 16px;
  }

  & :global a:any-link {
    color: var(--colors-themed-primary);

    &:hover,
    &:focus,
    &:active {
      color: var(--colors-base-black);
    }
  }
}

.divider {
  padding-bottom: 6rem;
  border-bottom: 2px solid;
  border-color: var(--colors-themed-primary);
}

.alternate {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
