@import '../styles/properties.css';

.compressed-hero {
  background-color: var(--colors-themed-default);
  padding: 112px 0;

  & h2 {
    font-weight: 400;
    font-size: 1.44rem;
  }

  & :global a.cta.secondary:any-link {
    color: var(--colors-base-dark);
    border-color: var(--colors-base-dark);

    &:hover {
      border-color: var(--colors-base-white);
      color: var(--colors-base-white);
    }
  }

  & :global a.cta.primary:any-link {
    color: var(--colors-base-white);
    background-color: var(--colors-base-dark);
    border-color: var(--colors-base-dark);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--colors-base-white);
      border-color: var(--colors-base-white);
      color: var(--colors-themed-default);
    }
  }
}

@media (--sm-viewport) {
  .compressed-hero {
    padding: 64px 0;
    & h2 {
      font-size: 1.138rem;
    }
  }
}

@media (--md-viewport) {
  .compressed-hero {
    padding: 64px 0;

    & h2 {
      font-size: 1.266rem;
    }
  }
}
