@import '../styles/properties.css';

.highlight {
  background: var(--colors-base-white);
  padding-bottom: 6rem;

  & h3 {
    margin-top: 0.25rem;
    color: var(--colors-base-black);
    font-size: 1rem;
  }

  & :global a:any-link {
    border: 1px solid;
    border-color: var(--colors-themed-light);
    color: var(--colors-base-dark);

    &:hover {
      border: 1px solid;
      border-color: var(--colors-themed-default);
    }
  }
}

.highlight-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.highlight-box {
  width: 25%;
  margin: 0 1rem 0 0;
  background-color: var(--colors-themed-light);
  padding: 1rem 0rem;

  &:last-child {
    margin: unset;
  }

  & img {
    margin-top: 0.5rem;
    width: 1.5rem;
    height: auto;
  }

  &:hover {
    transition: 0.25s ease-in-out;
  }
}

@media (--sm-viewport) {
  .highlight {
    & h3 {
      font-size: 1rem;
    }
  }

  .highlight-row {
    flex-wrap: wrap;
  }

  .highlight-box {
    margin: 0 0 1rem 0;
    padding: 1rem 1rem;
    width: 100%;

    &:last-child {
      margin: unset;
    }
  }
}

@media (--md-viewport) {
  .highlight {
    & h3 {
      font-size: 1rem;
    }
  }

  .highlight-row {
    flex-wrap: wrap;
  }

  .highlight-box {
    margin: 0 0 1rem 0;
    padding: 1rem 1rem;
    width: 100%;

    &:last-child {
      margin: unset;
    }
  }
}
