@import '../styles/properties.css';

.large-feature {
  background-color: var(--colors-base-white);
  padding-top: 6rem;

  & h3 {
    color: var(--colors-base-black);
  }
  & p {
    color: var(--colors-base-dark);
    margin-bottom: 16px;
  }

  & :global a.cta.primary:any-link {
    color: var(--colors-base-white);
    background-color: var(--colors-themed-default);
    border-color: var(--colors-themed-default);

    &:hover,
    &:focus,
    &:active {
      color: var(--colors-base-white);
      background-color: var(--colors-base-black);
      border-color: var(--colors-base-black);
    }
  }
}

.divider {
  padding-bottom: 6rem;
  border-bottom: 2px solid;
  border-color: var(--colors-themed-light);
}

.alternate {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
