.newsletter {
  background-color: var(--colors-base-dark);
  padding: 4rem 0;
}

.text-align {
  text-align: center;
}

@media (--sm-viewport) {
}

@media (--md-viewport) {
}

.form {
  width: 100%;
  margin-bottom: 10px;
  align-self: center;

  & input {
    font-style: normal;
    font-size: 14px;
    color: var(--colors-base-white);
    padding: 0.75rem 1rem 0.75rem 1rem;
    border: none;
    line-height: 168%;

    &:focus {
      outline: none;
    }
  }

  & input[type='button'] {
    padding: 0.75rem 1rem 0.75rem 1rem;
    font-weight: 500;
    width: 40%;
    margin-left: -10%;
    cursor: pointer;
    border-radius: 100px;
    transition: color ease 200ms, background-color ease 200ms,
      border-color ease 200ms;

    background-color: var(--colors-themed-primary);

    &:hover,
    &:focus {
      color: var(--colors-themed-primary);
      background-color: var(--colors-base-white);
    }

    &:active {
      background-color: var(--colors-base-white);
    }
  }

  & input[type='email'] {
    border-radius: 100px;
    background-color: var(--colors-base-grey-800);
    width: 60%;

    &::placeholder {
      color: var(--colors-base-grey-400);
    }
  }
}
