@import '../styles/properties.css';
@import '../styles/grid.css';
@import '../styles/global.css';
@import '../styles/typography.css';

.newsletter {
  background-color: var(--colors-base-light);
  padding: 4rem 0;
  color: var(--colors-base-black);
}

@media (--sm-viewport) {
  .newsletter {
    padding: 4rem 0;
  }

  .right {
    margin-top: 2rem;
  }
}

@media (--md-viewport) {
  .newsletter {
    padding: 4rem 0;
  }

  .right {
    margin-top: 2rem;
  }
}

.light {
  background-color: var(--colors-base-dark);
}

.form {
  width: 100%;
  margin-bottom: 10px;

  & input {
    font-style: normal;
    font-size: 14px;
    color: var(--colors-base-white);
    padding: 8px 16px;
    border: none;
    line-height: 168%;
  }

  & input[type='button'] {
    font-weight: 500;
    width: calc(40%);
    cursor: pointer;
    transition: color ease 200ms, background-color ease 200ms,
      border-color ease 200ms;

    background-color: var(--colors-themed-default);

    &:hover,
    &:focus {
      color: var(--colors-themed-default);
      background-color: var(--colors-base-white);
    }

    &:active {
      background-color: var(--colors-base-white);
    }
  }

  & input[type='email'] {
    color: var(--colors-base-black);
    background-color: rgba(33, 16, 100, 0.1);
    width: calc(60% - 2rem);

    &::placeholder {
      color: var(--colors-base-text);
    }
  }
}
