@import '../styles/properties.css';

.quicklinks {
  background-color: var(--colors-base-white);
  padding: 6rem 0;

  & h3 {
    margin: 0 0 1rem;
  }

  & p {
    margin: 0 0 1rem;
  }

  & :global a.cta.secondary:any-link {
    color: var(--colors-base-dark);
    border-color: var(--colors-base-dark);

    &:last-child {
      margin-right: 0 !important;
    }

    &:hover {
      border-color: var(--colors-themed-default);
      color: var(--colors-themed-default);
    }
  }

  & :global a.cta.primary:any-link {
    color: var(--colors-base-white);
    background-color: var(--colors-themed-default);
    border-color: var(--colors-themed-default);

    &:hover,
    &:focus,
    &:active {
      color: var(--colors-base-white);
      background-color: var(--colors-base-black);
      border-color: var(--colors-base-black);
    }
  }
}

.quicklinks-content {
  margin-bottom: 4rem;
}

.quicklinksRow {
  align-items: flex-start;
}

.quicklinks-children {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;

  & .quicklinks-child {
    width: auto;
    margin: 0 1rem 0 0;
    padding: 1rem 0;

    &:last-child {
      margin: unset;
    }

    & :global a:any-link {
      color: var(--colors-themed-default);

      &:hover,
      &:focus,
      &:active {
        color: var(--colors-base-black);
      }
    }

    & p {
      margin: 0 0 0.5rem;
    }

    & .redirects {
      font-weight: 500;
      font-size: 0.833rem;
    }

    & img {
      margin-top: 0.5rem;
      width: 1.5rem;
      height: auto;
    }
  }
}

@media (--md-viewport) {
  .quicklinks-children {
    flex-wrap: wrap;
  }

  .quicklinks-child {
    margin: 0 0 1rem 0;
    padding: 1rem 1rem;

    &:last-child {
      margin: unset;
    }
  }
}

@media (--sm-viewport) {
  .quicklinks-children {
    flex-wrap: wrap;
  }

  .quicklinks-child {
    margin: 0 0 1rem 0;
    padding: 1rem 1rem;

    &:last-child {
      margin: unset;
    }
  }
}
