.stats {
  background-color: var(--colors-base-white);
  padding: 6rem 0;
  position: relative;
  color: var(--colors-base-black);
}

.statsRow {
  padding-top: 3rem;
}

.items {
  display: flex;
  justify-content: space-evenly;

  & .item {
    width: 33%;
    border-right: 2px solid;
    border-color: var(--colors-themed-primary);
    margin: 0 6rem 0 0;
    padding: 0 2rem 0 0;

    &:last-child {
      border-right: none;
      margin: unset;
      padding: unset;
    }

    & .title {
      font-size: 0.833rem;
    }

    & .amount * {
      color: var(--colors-themed-primary);
      font-weight: 600;
      font-size: 2.488rem;
    }

    & .description {
      font-size: 0.833rem;
      color: var(--colors-base-grey-600);
    }
  }
}

@media (--md-viewport) {
  .items {
    flex-direction: column;

    & .item {
      width: 100%;
      border-right: none;
      border-bottom: 2px solid;
      border-color: var(--colors-themed-primary);
      margin: 0 0 2rem 0;
      padding: 0 0 2rem 0;

      &:last-child {
        border-bottom: none;
        margin: unset;
        padding: unset;
      }

      & .amount * {
        font-size: 1.802rem;
      }
    }
  }
}

@media (--sm-viewport) {
  .items {
    flex-direction: column;

    & .item {
      width: 100%;
      border-right: none;
      border-bottom: 2px solid;
      border-color: var(--colors-themed-primary);
      margin: 0 0 2rem 0;
      padding: 0 0 2rem 0;

      &:last-child {
        border-bottom: none;
        margin: unset;
        padding: unset;
      }

      & .amount * {
        font-size: 1.383rem;
      }
    }
  }
}
