.stats {
  background-color: var(--colors-base-white);
  padding: 96px 0;
  position: relative;
  color: var(--colors-base-black);
}

@media (--mobile-viewport) {
  .stats {
    padding: 64px 0;
  }
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  & .item {
    & .title {
      font-size: 0.833rem;
      text-align: center;
    }

    & .amount * {
      color: var(--colors-themed-default);
      font-size: 1.728rem;
      font-weight: 600;
      text-align: center;
    }

    & .description {
      font-size: 0.833rem;
      text-align: center;
      color: var(--colors-base-text);
    }
  }
}

@media (--sm-viewport) {
  .items {
    flex-direction: column;

    & .item {
      margin-top: 32px;
      & .amount * {
        font-size: 1.215rem;
      }
    }

    & .item:first-child {
      margin-top: 0;
    }
  }
}

@media (--md-viewport) {
  .items {
    flex-direction: column;
    & .item {
      & .amount * {
        font-size: 1.424rem;
      }
    }
  }
}
