.box {
  background-color: var(--colors-base-dark);
  box-shadow: var(--elevation-large);
  padding: 0 var(--size-4);
  border-radius: var(--radius-default);
  align-self: stretch;
  align-content: start;
  width: inherit;
  min-height: var(--size-128);
}

.editor-header {
  padding: var(--size-4) var(--size-4) 0;
  display: flex;
  width: var(--size-full);
  align-items: center;
  color: var(--colors-base-white);
  position: sticky;

  & .tabs {
    overflow: auto;
  }

  & .tab {
    margin-right: 24px;
    cursor: pointer;
    display: inline;

    &.selected {
      color: var(--colors-themed-primary);
    }
  }
}

.window-actions {
  display: flex;
  align-items: center;
  height: var(--size-8);
  margin-right: var(--size-4);

  & .window-action {
    width: var(--size-3);
    height: var(--size-3);
    border-radius: var(--radius-default);
    background-color: var(--colors-base-grey-800);
    margin-right: var(--size-2);

    &.primary {
      background-color: var(--colors-themed-primary);
    }
  }
}

.content {
  display: inline-block;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: min-content;
  overflow: auto;
  width: min-content;

  & pre {
    display: none;

    &.active {
      display: block;
    }
  }

  &,
  & pre,
  & code,
  & pre[class*='language'] > code[class*='language'],
  & pre > code {
    text-shadow: none;
    background-color: inherit;
    color: var(--colors-base-white);
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  & pre code :global .token.operator {
    color: var(--colors-base-white);
    background-color: inherit;
  }
}
