.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 60;
  background-color: var(--colors-base-grey-75);
  width: 100%;
  box-sizing: border-box;
  padding: var(--size-4) 0;
}

.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (--xs) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: normal;
  }
}

.bannerContent {
  display: flex;
  align-items: center;
  @media (--xs) {
    width: 100%;
    justify-content: space-evenly;
  }
  & > * {
    margin-right: var(--size-6);
    @media (--xs) {
      margin-right: 0;
    }
  }
  & > *:last-child {
    margin-right: 0;
  }
}

.preferenceContainer {
  @media (--xs), (--sm), (--md) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media (--xs) {
    align-items: center;
    margin-bottom: var(--size-3);
  }
}

.formContainer {
  display: flex;
  align-items: center;

  & label {
    display: flex;
    align-items: center;
    margin-right: var(--size-6);
  }
  & input {
    margin-right: var(--size-2);
  }
  @media (--sm), (--md) {
    margin-top: var(--size-2);
  }
  @media (--xs) {
    margin-top: var(--size-1);
  }
}
