.faq {
  background: var(--colors-base-background);
  padding: var(--space-medium) 0;
}

.title {
  margin-right: unset !important;
}

.questions {
  display: flex;
  flex-grow: 1;

  &:nth-child(even) {
    margin-right: unset;
  }
}
