.pricing {
  background: var(--colors-base-background);
  padding: 128px 0;
}

@media (--md) {
  .pricingblock {
    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

@media (--xs), (--sm) {
  .pricingblock {
    margin-right: 0 !important;
  }
}
